.address {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc(100% / 2);
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}

.address__company {
  font-style: normal;
  line-height: 1.71;
  color: getColor("white-text");
}

.address__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.address__link {
  display: inline-block;

  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  color: getColor("text-footer");

  transition: color 250ms $time-animation;

  &:hover,
  &:focus {
    color: getColor("accent");
  }
}

.address__link--color {
  color: getColor("white-text");

  &:hover,
  &:focus {
    color: getColor("accent");
  }
}
