.social {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc(100% / 2);
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: auto;
    text-align: left;
  }
}

.social__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  color: getColor("white-text");
  text-transform: uppercase;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 50%;

  transition: background-color 250ms $time-animation;

  &:hover,
  &:focus {
    background-color: getColor("accent");
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
