.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
  text-decoration: none;
  color: getColor("primary-text");

  transition: color 250ms var(--time-animation);

  &:hover,
  &:focus {
    color: getColor("accent");
  }
}

.contacts__icon {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
}
