.navigations {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 84px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: auto;
  }
}

.navigations__list {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigations__item:not(:last-child) {
  margin-right: 50px;
}

.navigations__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.16;
  text-decoration: none;
  color: getColor("title-text");

  transition: color 250ms $time-animation;

  &:hover,
  &:focus {
    color: getColor("accent");
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.navigations__link--current {
  color: getColor("accent");

  &::after {
    position: absolute;
    bottom: calc(0% - 1px);
    left: 0;

    content: "";
    display: block;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: getColor("accent");
  }
}
