.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: getColor("logo");

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }

  &--footer {
    display: inline-block;
    margin-bottom: 20px;
    color: getColor("white-text");

    @media screen and (min-width: $tablet) {
      margin-right: 0;
    }
  }

  &--color {
    color: getColor("accent");
  }
}
